@keyframes hand-wave-animation {
  0% { transform: rotate(  0.0deg) }
 10% { transform: rotate(-10.0deg) }
 20% { transform: rotate( 12.0deg) }
 30% { transform: rotate(-10.0deg) }
 40% { transform: rotate(  9.0deg) }
 50% { transform: rotate(  0.0deg) }
100% { transform: rotate(  0.0deg) }
}

@keyframes newWord {
  0% { opacity: 0; }
	100% { opacity: 1; }
}

.about {
  padding: calc(8rem - 16px) 16px 11.5rem;
  max-width: $max-width;
  margin: 0 auto;
  @media (max-width: $resMobile) {
    padding-top: 54px 16px 120px;
  }
  
  &__title {
    max-width: 781px;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 3.5rem;
    margin: 2rem 0 1rem;
    @media (max-width: $resMobile) {
      margin: 16px 0 8px;
    }
  }

  &__description {
    max-width: 781px;
    color: $gray;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 2.25rem;
    margin-bottom: 3.75rem;
  }

  &__link {
    color: $blue;
    font-weight: 500;
    @include link-hover-animation();
  }

  &__mail {
    color: $blue;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 2rem;
    text-decoration: none;
    padding-bottom: 8px;
    border-bottom: 2px solid $blue;
    @include link-hover-animation();
  }

  &__hand {
    animation-name: hand-wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: 2;
    transform-origin: 70% 70%;
    display: inline-block;
    &:hover {
      cursor: no-drop;
      animation: none;
    }
  }
}

.avatar {
  width: 120px;
  height: 120px;
  border: 6px solid #CBD2D9;
  border-radius: 60px;
  position: relative;
  @media (max-width: $resMobile) {
    width: 80px;
    height: 80px;
    border: 4px solid #CBD2D9;
  }
  transition: border $short-animation ease-in-out;
  &:hover {
    border: 15px solid #CBD2D9;
  }

  &__image {
    width: 100.21px;
    height: 100.21px;
    border-radius: 90px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    @media (max-width: $resMobile) {
      width: 66.81px;
      height: 66.81px;
    }
  }
}


.change_words {

  &__word {
    display: none;

    &--active {
      display: inline;
      animation: newWord .5s linear forwards;
    }
  }
}