.about {
  padding: 112px 0 184px;
  
  max-width: $max-width;
  margin: 0 auto;
  
  &__title {
    max-width: 781px;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 3.5rem;
    margin: 2rem 0 1rem;
  }

  &__description {
    max-width: 781px;
    color: $gray;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 2.25rem;
    margin-bottom: 3.75rem;
  }

  &__link {
    color: $blue;
    font-weight: 500;
  }

  &__mail {
    color: $blue;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 2rem;
    text-decoration: none;
    padding-bottom: 8px;
    border-bottom: 2px solid $blue;
  }
}

.avatar {
  width: 120px;
  height: 120px;
  border: 6px solid #CBD2D9;
  border-radius: 60px;
  position: relative;

  &__image {
    width: 100.21px;
    height: 100.21px;
    border-radius: 90px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}