.skills {
  padding-bottom: 8rem;
  max-width: $max-width;
  padding: 0 16px;
  margin: 0 auto;

  &__title {
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 3rem;
    padding: 1rem 0;
    border-bottom: 2px solid #E5E8EC;
    margin: 0;
    @media (max-width: $resMobile) { 
      text-align: center;
    }
  }
}

.skills-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 8rem 0 0;
  @media (max-width: $resMobile) {
    grid-template-columns: 1fr;
    padding: 5rem 0 0;
  }

  &__title {
    margin: 0;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.75rem;
    &::before {
      content: '';
      width: 80px;
      height: 4px;
      display: block;
      background: $green;
      border-radius: 8px;
      margin-bottom: 1.5rem;
      .skills-list--violet & {
        background: $violet;
      }
      .skills-list--blue & {
        background: $dark-blue;
      }
      @media (max-width: $resMobile) {
        width: 40px;
      }
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    column-gap: 1.5rem;
    list-style-type: none;
    margin: calc(1.5rem + 4px);
    padding: 0;
  }

  &__item {
    color: $gray;
    font-size: 1.125rem;
    line-height: 2.5rem;
    padding-left: 30px;
    position: relative;
    @media (max-width: $resMobile) {
      padding-left: 20px;
    }
    &::before {
      position: absolute;
      top: 12px;
      left: 0;
      content: '';
      display: inline-block;
      width: 18px;
      height: 18px;
      background-image: url('../assets/img/check-green.svg');
      .skills-list--violet & {
        background-image: url('../assets/img/check-violet.svg');
      }
      .skills-list--blue & {
        background-image: url('../assets/img/check-blue.svg');
      }
      @media (max-width: $resMobile) {
        width: 12px;
        height: 12px;
        background-size: contain; 
        top: 9px;
      }
    }
  }
}