@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap&subset=latin-ext');
@import "_normalize.scss";
@import "_variables.scss";
@import "modules/about.scss";
@import "modules/skills.scss";
@import "modules/projects.scss";


html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: $big-stone;
  background: #fff;
  font-family: 'Poppins', sans-serif;
  border: 16px solid $big-stone;
}

